.float{
	position:fixed;
	width:50px;
	height:50px;
	bottom:40px;
	right:40px;
	background-color:#d63031;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.non-float{
	width:45px;
	height:45px;
	bottom:40px;
	background-color:#d63031;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	margin-left: 10px;
}

.plus-button{
	margin-top:17px;
}


.course-title{
	width: 70em;
	margin-left: 3em; 
}

.ownedby{
	width: 10em;
}

.lastmodified{
	width: 18em;
}

.plus-icon{
	font-size: 50px;
	color: red;
}

.table-header{
  background-color: #ecf0f1;
  height: 70px;
  box-shadow: 5px 10px white;
}
/*.header-grid{
  margin-left: 150px;
  margin-right: 100px;
}
*/
.header-title{
  margin-top: 20px;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 20em; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 10;
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 4em;
}

/* The navigation menu links */
.topic {
    padding: 0.2em 0.2em 0.2em 0.2em;
    margin: 0.5em;
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    background-color: #4c4b4b;
    display: block;
    border-radius: 5px;
}

.topic a{
  color: inherit;
}

.cross-topic {
  float: right;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.add-module{
	margin: 12px;
}